<footer class="bg-dark mt-auto pt-4 container-fluid">

    <div class="row align-items-center border-bottom border-white pb-4 mb-2">

        <div class="col-md-7 mt-2">            
            <nav>
                <ul class="nav nav-pills">
                    {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%}
                    {% for nav in navItems %}
                    <li class="nav-item">
                    {% if nav.stub %}
                        <a class="nav-link text-light{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                    {%- else -%}
                    {% assign childStub = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' | first %}
                        <a class="nav-link text-light{% if page.url == childStub.stub %} active{% endif %}" href="{{ childStub.stub | relative_url }}">{{ nav.display_name }}</a>
                    {% endif %}
                    </li>
                    {%- endfor -%}
                </ul>
            </nav>

        </div>

        <div class="col-md-5 mt-2 text-right">
            <p class="text-white" id="footer-credits">
                    <a href="https://deepsouthdh.github.io/" target="_blank" rel="noopener" title="DeepSouthLogo">
                        <img src="{{ '/assets/img/DeepSouthlogo.png' | relative_url }}" class="img-fluid" alt="DeepSouthLogo logo" >
                    <a href="https://www.muw.edu/library" target="_blank" rel="noopener" title="WFantLibrary">
                        <img src="{{ '/assets/img/W_Fant_horizontal_white.png' | relative_url }}" class="img-fluid" alt="WFantLibrary logo" >
                    <a href="http://mshumanities.org/" target="_blank" rel="noopener" title="mshumanities"> 
                        <img src="{{ '/assets/img/mhc-color.png' | relative_url }}" class="img-fluid" alt="mshumanities logo" >
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
                        <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid" alt="CollectionBuilder logo" >
                    </a>
                </small>
            </p>
        </div>

    </div>

    <div class="col-md-12 text-center pt-3 pb-1">
        <p class="text-white">Last updated {{ site.time | date: '%Y' }}</p>
    </div>

</footer>
